* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background-color: #fa3e3e;
}

header {
    background-color: #ff0000;
    position: fixed;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header li {
    margin: 0 10px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.ajuda a {
    color: black;
    text-decoration-line: underline;
}

.home {
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    font-size: 20px;
    color: #fff;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    padding: 8vh 8vw;
    background-color: #ff0000;
    border-radius: 15px;
    margin-top: 5px;
}

.saldo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8vh 8vw;
    gap: 2vw;
    background-color: #ff0000;
    border-radius: 15px;
    margin: 5px 5px;
}

.acoes ul{
    display: flex;
    flex-direction: row;
}

.acoes li{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 4vw;
    gap: 2vw;
    background-color: #ff0000;
    border-radius: 15px;
    margin: 5px 5px;
}

.acoes li a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #ff0000;
    position: fixed;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 0;
    font-size: 20px;
}

footer ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

footer li a {
    color: rgb(0, 0, 0);
    justify-content: space-around;
    text-decoration-line: underline;
}

/* Transações*/
.transacoes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 8vh 8vw;
    background-color: #ff0000;
    border-radius: 15px;
    margin-top: 5px;
    gap: 20px;
}

.transacoes table {
    width: 100%;
    border-collapse: collapse;
}

.transacoes th, .transacoes td {
    text-align: center;
    color: #fff;
    padding: 15px 30px;
    border-bottom: #fff solid 1px;
}

.transacoes th {
    width: 25%;
}

/* homePage */
/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
